<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/atualizarConta.css">
    <title>Atualizar Conta | FinanceApp</title>
</head>
<body>
    <div class="cadastro">
        <div class="titulo">
            <img src="/image/financaBranco.png" alt="">
            <h1>FinanceApp</h1>
            <p>Gerencie suas finanças com inteligência</p>
        </div>
        <%- include('includes/messages') %>
        <div class="form">
            <div class="form-titulo">
                <h2>Atualize sua conta!</h2>
                <p>Preencha os campos abaixo para atualizar sua conta.</p>
            </div>
            <form action="/user/<%= user.id %>" method="post">

                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" placeholder="seu nome" required value="<%= user.nome %>">

                
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="seu@email.com" required value="<%= user.email %>">

                <div class="botoes">
                    <button>Atualizar conta</button>
                    <a class="delete" href="/user/delete/<%= user.id %>" onclick="return confirm('Tem certeza que deseja apagar esta conta?')">Apagar conta</a>
                    <a class="logout" href="">Logout</a>
                </div>-
            </form>
        </div>
    </div>
</body>
</html>